<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>NEWS</h1>
  <a routerLink="/news/new" mat-button>ADD NEW POST</a>
</div>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlex.lt-lg="100%"
    fxFlex="100%"

    *ngFor="let article of news"
  >
    <mat-card class="example-card">
      <mat-card-content>
        <span> <strong></strong>{{article.name}}</span>
        <div> <strong>Date: </strong>: {{article.date}}</div>
        <img
          [src]="article.image"
          [alt]="article.name"
          mat-card-image
        />
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a
          [routerLink]="[ article.id]"
          mat-button
        >VIEW</a>
        <button
          (click)="onRemove(article.id)"
          mat-button
        >REMOVE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
