<h1>Add NEW POST</h1>
<mat-card>
  <mat-card-content>
    <span><strong>Title: </strong>{{news.name}}</span>
    <div><strong>Date:</strong>: {{news.date}}</div>
    <mat-divider></mat-divider>
    <div><strong>Description:</strong> {{news.description}}</div>
  </mat-card-content>
</mat-card>
<h1>Comments</h1>
<mat-card>
  <mat-card-content>
<!--    <span><strong></strong>{{news}}</span>-->
<!--    <div><strong>Date:</strong>: {{news.date}}</div>-->
<!--    <mat-divider></mat-divider>-->
<!--    <div><i>{{news.date}}</i></div>-->
  </mat-card-content>
</mat-card>
